.about__text {
  margin: 50px 5vw 0;
  font-family: 'Stolzl Regular', Arial, Helvetica, sans-serif;
  font-size: 2vw;
  text-align: center;

  background-color: #22ecf3;
  background-image: linear-gradient(90deg, #fff, #22ecf3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}