.header__link {
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
  transition: 0.5s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2vw;
}

.header__link_telegram {
  background-color: #34AADF;
  background-image: url('../../../images/telegram.png');
  margin-right: 2vw;
}

.header__link_whatsapp {
  background-color: #43D854;
  background-image: url('../../../images/whatsapp.png');
}

.header__link:hover {
  transform: scale(1.2);
  box-shadow: 0 0 1vw #22ECF3;
}